<main id="main"  class="center"> <!-- This is an A11y Change -->
  <pb-breadcrumbs></pb-breadcrumbs>
  <div class="page-area">

      <pb-article>
          <h1 content-title>Stay on track</h1>
          <p content>
              Do you know where you are spending your money? If you really stop to track it down,
              you would get surprised! Proper budget management depends on real data... and this
              app will help you with that!
          </p>
      </pb-article>


      <pb-article>
          <h1 content-title>Alerts</h1>
          <p content>
              What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
          </p>
      </pb-article>

      <pb-article>
          <h1 content-title>Results</h1>
          <p content>
              People who stick to a financial plan, budgeting every expense, get out of debt faster!
              Also, they to live happier lives... since they expend without guilt or fear...
              because they know it is all good and accounted for.
          </p>
      </pb-article>

      <pb-article>
          <h1 content-title>Free</h1>
          <p content>
              This app is free!!! And you are the only one holding your data!
          </p>
      </pb-article>

      <div class="chart">
        <h1>Charts</h1>
        <canvas id="myChart"role="img" aria-label="Budget Chart"></canvas> <!-- This is an A11y Change -->
        <figure id="donut"> </figure>
      </div>
  </div>
</main>

